! special 253 234 238
*.foreground:   #d4be98
*.background:   #000000
*.cursorColor:  #d4be98

! black 236 249
*.color0:       #000000
*.color8:       #3c3836

! red 167
*.color1:       #ea6962
*.color9:       #ea6962

! green 108
*.color2:       #a9b665 
*.color10:      #a9b665

! yellow 221
*.color3:       #d8a657
*.color11:      #d8a657

! blue 110
*.color4:       #7daea3
*.color12:      #7daea3

! magenta 146
*.color5:       #d3869b
*.color13:      #d3869b

! cyan 75
*.color6:       #89b482
*.color14:      #89b482

! white 255 15
*.color7:       #d4be98
*.color15:      #d4be98
